@model IEnumerable<businesslogic.Dto.EmpolyeeDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            departmentName
        </th>
        <th>
            projectsName
        </th>
        <th>
            RoleName
        </th>
        <th>
            UserName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.department.Name)
            </td>
            <td>
                @(string.Join(", ", item.User.ProjectMembers.Select(x=>x.Projects).Select(x=>x.Name)))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}
@if (TempData["EmployeeForEdit"] != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@TempData["EmployeeForEdit"]");
            };
    </script>

}

@if (ViewBag.MessagealretForDelete != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.MessagealretForDelete");
            };
    </script>

}
@if (ViewBag.Messagealret != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Messagealret");
            };
    </script>

}


